<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WinAu" connectionString="Data Source=LAPTOP-2OQ4P17E;Database=pv;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="SerAu" connectionString="Data Source=nezev_serveru;Initial Catalog=pv;User Id=uzivatel;Password=Vase_heslo;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>